In [48]:
! pip install transformers

Requirement already satisfied: transformers in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (4.39.1)
Requirement already satisfied: filelock in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (3.13.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.19.3 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (0.22.0)
Requirement already satisfied: numpy>=1.17 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (23.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (2023.12.25)
Requirement already satisfied: requests in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (2.31.0)
Requirement already satisfied: tokenizers<0.19,>=0.14 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (0.15.2)
Requirement already satisfied: safetensors>=0.4.1 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (0.4.2)
Requirement already satisfied: tqdm>=4.27 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from transformers) (4.66.2)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from huggingface-hub<1.0,>=0.19.3->transformers) (2024.2.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from huggingface-hub<1.0,>=0.19.3->transformers) (4.10.0)
Requirement already satisfied: colorama in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from tqdm>=4.27->transformers) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from requests->transformers) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from requests->transformers) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\richa\anaconda3\envs\nlp_env\lib\site-packages (from requests->transformers) (2024.2.2)

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch
import tqdm
from transformers import BertTokenizer, BertForSequenceClassification

In [40]:
train_data = pd.read_table('train.csv')
valid_data = pd.read_table('dev.csv')

In [41]:
valid_data.tail(10)

,score,setence1,sentence2
1460,2.0,New UN peacekeeping chief named for Central Af...,UN takes over peacekeeping in Central African ...
1461,5.0,Oil falls in Asian trade,Oil prices down in Asian trade
1462,3.0,Israeli forces detain Palestinian MP in Hebron,Israeli forces detain 2 Palestinians in overni...
1463,3.0,Israeli police clash with Palestinian proteste...,Israel Police Clash With Palestinians in Jerus...
1464,0.0,"3 killed, 4 injured in Los Angeles shootings",Five killed in Saudi Arabia shooting
1465,2.0,Scientists prove there is water on Mars,Has Nasa discovered water on Mars?
1466,0.0,Pranab stresses need to strive for peace by na...,WTO: India regrets action of developed nations
1467,2.0,Volkswagen skids into red in wake of pollution...,"Volkswagen's ""gesture of goodwill"" to diesel o..."
1468,0.0,Obama is right: Africa deserves better leadership,Obama waiting for midterm to name attorney gen...
1469,0.0,New video shows US police officers beating men...,New York police officer critically wounded in ...

In [42]:
print(train_data.shape)
print(train_data['score'].value_counts())

(5711, 3)
score
0.000    367
4.000    351
3.000    308
5.000    265
3.800    263
        ...
0.067      1
0.727      1
1.700      1
1.778      1
4.330      1
Name: count, Length: 139, dtype: int64

In [43]:
# check if any missing values
print(train_data.isnull().sum())

# some values were missing in sentence2 column, so did the below (sentence1 didnt split properly)

# iterate through the rows in dataframe which have missing values
for index, row in train_data[train_data.isnull().any(axis=1)].iterrows():
    if pd.isnull(row['sentence2']):
        # split the sentence1 into words into 2 parts based on \t and assign to sentence1 and sentence2
        sentence1, sentence2 = row['sentence1'].split('\t')
        score = row['score']
        # assign to the row
        train_data.at[index, 'sentence1'] = sentence1
        train_data.at[index, 'sentence2'] = sentence2
        train_data.at[index, 'score'] = score

score        0
sentence1    0
sentence2    3
dtype: int64

## 1A